<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BOINCGridcoinReportGeneratorForSteemit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data><userSettings>
        <BOINCGridcoinReportGeneratorForSteemit.My.MySettings>
            <setting name="AN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CSG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DDAH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EatH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Enigma" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LHCatH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MatH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NatH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RatH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SatH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SRBase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SDG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tsnp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VGTU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WCG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YAFU" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="YH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NFatH" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ODLK1" serializeAs="String">
                <value>False</value>
            </setting>
        </BOINCGridcoinReportGeneratorForSteemit.My.MySettings>
    </userSettings>
</configuration>